RewriteEngine On

# 404 - 
ErrorDocument 404 404.html?code=404

# 500 -
ErrorDocument 500 404.html?code=500

# 403 - 
ErrorDocument 403 404.html?code=403

# 402 - 
ErrorDocument 402 404.html?code=402

# 505 -
ErrorDocument 505 404.html?code=505
